<div class="col-xs-12 col-md-6">
    <button class="btn btn-default btn-sm" ng-click="$ctrl.addingTask = !$ctrl.addingTask"><i class="fa fa-plus"></i></button>
    <div ng-if="$ctrl.addingTask">
        <form ng-submit="$ctrl.addTask($ctrl.newTask)">
            <div class="form-group">
                <label for="formGroupExampleInput">Card Title</label>
                <input type="text" class="form-control"  ng-model="$ctrl.newTask.name" placeholder="Card title">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Story Title</label>
                <input type="text" class="form-control" ng-model="$ctrl.newTask.story.name" placeholder="Story Title">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Story Description</label>
                <input type="text" class="form-control" ng-model="$ctrl.newTask.story.description" placeholder="Story Description">
            </div>
            <button type="submit" class="btn btn-info">Add</button>
        </form>
    </div>
</div>