<!--<div>
    <h3>{{$ctrl.listObj.name}} <span ng-click="$ctrl.addingTask = !$ctrl.addingTask">Toggle Add Task Form</span></h3>
    <div ng-if="$ctrl.addingTask">
        <form ng-submit="$ctrl.addTask($ctrl.newTask)">
            <input ng-model="$ctrl.newTask.name" />
            <button type="submit">+</button>
        </form>
    </div>
    <div ng-repeat="task in $ctrl.listObj.tasks">
        <button ng-click="$ctrl.removeTask(task)">X</button>
        <task-component task-obj="task"></task-component>
    </div>
</div>-->

<div class='list'>
    <button class="btn btn-link" style="color:black" ng-click="$ctrl.removeList(list)">{{$ctrl.listObj.name}}</button>
    <div class="panel panel-default" ng-repeat="task in $ctrl.listObj.tasks">
        <task-component task-obj="task"></task-component>
    </div>
</div>